Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/OutsideAsset/
Content/OutsideAsset_2/
Content/StarterContent/
*.7z
*.zip
Build/
